@import "./materialize";

// Vars
$header-bg: url(../img/blue-sheets.jpg);
$header-height: 300px;
$body-bg: $primary-color;
$mono: "Roboto Mono", monospace;
$sanserif: "Roboto", sans-serif;
$off-black: rgba(0, 0, 0, 0.87);

// Text Color Function # (Set text color based on the background color)
@function set-text-color($background) {
  @if (lightness($background) > 55) {
    @return #000;
  } @else {
    @return #fafafa;
  }
}

body {
  background: $body-bg;
  color: set-text-color($body-bg);
  font-family: $mono;
}

// mobile nav
nav .button-collapse {
  background: $secondary-color;
  color: $off-black;
  padding: 0 20px;
  margin: 0;
  border-radius: 50%;
}
.navbar-fixed ul {
  background: $secondary-color;
  font-family: $mono;
  li a {
    color: $off-black;
  }
}

.row-1,
.row-2,
.row-3 {
  opacity: 0;
}
.main-header {
  background: $header-bg bottom center no-repeat;
  background-size: stretch;
  color: #fafafa;
  margin-bottom: 30px;
  padding-bottom: 30px;
  font-family: $mono;
  #logo {
    padding: 60px 0 30px;
  }
  #logo a {
    display: block;
    width: 360px;
    height: 126px;
    margin: 0 auto;
  }
  h2 {
    margin-bottom: 30px;
  }
  h5 {
    margin-bottom: 30px;
  }
}

.section-main {
  font-family: $sanserif;
}
.img-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
}

.card-content {
  color: $primary-color;
}
.card-image .btn-floating .material-icons {
  color: rgba(0, 0, 0, 0.87);
}

.modal {
  overflow: show;
  background: #fafafa;
  color: set-text-color(#fafafa);
  font-family: $sanserif;
}
.page-footer {
  background: $primary-color-dark;
  color: set-text-color($primary-color);

  a,
  a:visited {
    color: $secondary-color;
  }
  a:active,
  a:hover {
    color: #fff;
  }
  .footer-copyright {
    background: $secondary-color;
    color: set-text-color($secondary-color);
    a,
    a:visited {
      color: rgba(0, 0, 0, 0.87);
    }
    a:active,
    a:hover {
      color: $primary-color-dark;
    }
    ul {
      display: inline;
    }
    ul li {
      display: inline-block;
    }
  }
}
